@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&family=Markazi+Text:wght@400;500;600;700&display=swap');




#root {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  font-family: 'Karla', sans-serif;



}

h1 h2 h3 h4 {
  font-family: 'Markazi Text', serif;
  font-size: 30px;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: calc(0.65 * 30px);


}





.jumbotron {
  background-image: url('./restaurant.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
}

h1 span {
  background-color: #212529;
}

h4 span {
  background-color: #212529;
}


footer {
  background-color: #495e57;

}



/* Styles for small devices */
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

  }

  /* Style the footer links */
  .footer-links {
    flex: 1;
    text-align: center;

  }

  /* Style the social media icons */
  .social-links {
    flex: 1;
    text-align: center;
  }

  .footer-logo{
    flex: 1;
  }
}


.footer-logo {
  max-width: 110px;
}