.navbar-nav .nav-link {
  color: #000;
}



.hero {
  background-image: url('./restaurant.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  padding-left: 10px;

}
.display-3{
  color: #C3A510;
  text-align: left;


}
.bg-dark{
  padding-right: 0;


} {
  padding: 0;


}
.display-2{
  color: #fff;
  text-align: left;

}
.lead{
  color: #000;
  text-align: left;

}
.hero-btn{
  background-color: #F4CE14;
  text-align: left;

}

